/* for common */
.swal-footer{
    text-align: center!important;
}
.main-content {
    padding: 50px;
    background-color: gray;
}
.mainLbl{
    color: rgba(0, 78, 140, 1);
}
.description{
    font-size: 14px !important;
}
.char_number{
    float: right;
}
/* for common */


.starts {
    display: table;
}

input.star{
    display: none;
}
label.star{
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all 0.2s;
}

/* initialy */
label.star-1::before{
    content: '\1F62D';/*😭*/
}
label.star-2::before{
    content: '\1F61E';/*😞*/
}
label.star-3::before{
    content: '\1F641';/*🙁*/
}
label.star-4::before{
    content: '\1F600';/*😀*/
}
label.star-5::before{
    content: '\1F60D';/*😍*/
}
label.star:hover{
    font-size: 45px;
}
label.star:hover::before{
    font-size: 45px;
}



.btn-primary {
    background: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
    border-color: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
}

.btn-primary:hover {
    background: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
    border-color: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
    box-shadow: 0 0 0 .15rem rgba(0, 78, 140, 0.5) !important;

}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
    border-color: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
    border-color: linear-gradient(to right, rgba(0, 78, 140, 1) 0%, rgba(0, 99, 175, 1) 100%) !important;
}
.btn-outline-primary {
	color: rgba(0, 78, 140, 1) !important;
	border-color: rgba(0, 78, 140, 1) !important;
}
.btn-outline-primary:hover {
	color: rgb(255, 255, 255) !important;
    border-color: rgba(0, 78, 140, 1) !important;
    background-color: rgba(0, 78, 140, 1) !important;;
}
.s-button {
    letter-spacing: 3px;
    font-weight: 500;
    font-weight: 600;
    font-size: 15px;
}